# Install: pip install -r requirements.txt
# General libraries
pandas
numpy
lightgbm
torch

# Plotting
matplotlib

# Scikit-learn
scikit-learn

# Stats
statsmodels

# Testing
pytest>=7.0.0

# API
fastapi>=0.68.0
uvicorn>=0.15.0
pydantic>=1.8.0

# Other
google