# Install: pip install -r requirements.txt
# General libraries
pandas
numpy
lightgbm
torch

# Plotting
matplotlib

# Scikit-learn
scikit-learn

# Stats
statsmodels

# Testing
pytest>=7.0.0

# Other
google